.form-group {
  margin-bottom: 2em;
}

.form-style {
  margin-bottom: 2em;
}

.container {
  margin-bottom: 3em;
}

#pythonCard, #javaScriptCard, #javaCard, #cCard, #invalidResponse {
  display: none;
}

#invalidResponse {
  background-color: #fba9a9;
  color: grey;
  font-style: oblique;
}